<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/add-courses.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="background"></div>
<div class="d-flex justify-content-center">
    <!--<img th:src="@{/images/home_images/logo.png}">-->
    <h1 class="mb-5 mt-3" th:if="${course} == null">Add a new course</h1>
    <h1 class="mb-5 mt-3" th:if="${course} != null">Edit course</h1>
</div>
<form action="/all_courses/add" method="post">
    <div class=" w-100  d-flex justify-content-center">
        <div>
            <input id="id" type="hidden" name="id" th:value="(${course} != null ? ${course.getId()} : '')">
            <div class="w-100 mb-4">
                <div class="mb-2">Course category</div>
                <select class="add-courses_input w-50 text-center" name="categoryId">
                    <option th:if="${course} != null"
                            th:selected="${cat.getName() != null && course.getCategory().getId() == cat.getId()}"
                            th:each="cat : ${categories}"
                            th:value="${cat.getId()}"
                            th:text="${cat.getName()}">
                    </option>
                    <option th:if="${course} == null"
                            th:each="cat : ${categories}"
                            th:value="${cat.getId()}"
                            th:text="${cat.getName()}">
                    </option>
                </select>


            </div>
            <div class="w-100 mb-4">
                <div class="mb-2">Name</div>
                <input type="text"
                       class="w-100 add-courses_input"
                       name="name"
                       th:value="(${course}!=null ? ${course.getName()} : '')">
            </div>
            <div class="w-100 mb-4">
                <div class="mb-2">Description</div>
                <textarea class="w-100 add-courses_input add-courses_text-area-input" name="description"
                          th:text="(${course}!=null ? ${course.getDescription()} : '')"></textarea>
            </div>
            <div class="w-100 mb-4">
                <div class="mb-2">Teacher</div>
                <input type="text" class="w-100 add-courses_input" name="teacher"
                       th:value="(${course}!=null ? ${course.getTeacher()} : '')">
            </div>
            <div class="w-100 mb-4 d-flex   justify-content-between">
                <div class="w-75">
                    <div class="mb-2">Total time</div>
                    <input type="text" placeholder=":" name="time" class="w-100 add-courses_input text-center"
                           th:value="(${course}!=null ? ${course.getTime()} : '')">
                </div>
                <div class="w-75 justify-content-end">

                        <div class="mb-2">Courses logo</div>
                        <input type="text" class="w-100 add-courses_input" name="image"
                               th:value="(${course}!=null ? ${course.getImage()} : '')">

                </div>
            </div>
        </div>

    </div>
    <div class="row w-90 text-end d-flex justify-content-end mb-5">
        <button class="btn save-button text-white pl-3 pr-3 " type="submit">SAVE</button>
    </div>
</form>

</body>
</html>