<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/course_details.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf_viewer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
</head>
<body>
<div class=" d-flex">
    <div class="sidebar ">
        <a th:href="@{'/home'}"><img th:src="@{/images/home_images/logo.png}" alt="logo" class="logo"></a>
        <br>
        <a th:href="@{'/all_courses'}" class="sidebar-btn"><i class="fa-brands fa-dashcube" style="color: #ffffff;"></i></a>
        <br><br>
        <a th:href="@{'/all_courses/details/{id}' (id=${course.getId()})}" class="active-btn"><i
                class="fa-solid fa-graduation-cap" style="color: #ffffff;"></i></a>
        <a class="sidebar-btn"><i class="fa-regular fa-lightbulb" style="color: #ffffff;"></i></a>
        <a class="sidebar-btn"><i class="fa-regular fa-message" style="color: #ffffff;"></i></a>
        <br><br>
        <div class="user-profile">
            <a class="sidebar-btn"><i class="fa-regular fa-pen-to-square" style="color: #fcfcfc;"></i></a>
            <a th:href="@{'/logout'}" class="sidebar-btn"><i class="fa-solid fa-circle-user"
                                                             style="color: #bb6bd9;"></i></a>
        </div>
    </div>
    <div class=" w-25 lessons-side-bar" th:if="${isUserEnrolled}">
        <div class="mt-4">
            <a th:href="@{'/all_courses'}" style="color: black;margin-top: 10px"><i class="fa fa-sharp fa-light fa-arrow-left ml-3"
                                                                 style="color: black;font-size: 15px"></i> Back</a>
        </div>
        <div class="d-flex lessons-side-bar-card mx-auto my-4 py-2 " style="color: #141C65" th:if="${isUserEnrolled}">
            <div class="w-25 pl-3"><i class="fa-solid fa-check-double" style="color: #a6a3a3;font-size: 15px"></i></div>
            <div style="color: #a6a3a3" class="text-center">You are enrolled to this course</div>
        </div>
        <div class="ml-3 mt-5" style="color: #696868"> LESSONS</div>
        <div th:each="lesson : ${lessons}" class="lessons-side-bar-card mx-auto my-2 py-2">
            <div class="d-flex  align-items-center">
                <div class="w-25 pl-3">
                    <i class="fa-regular fa fa-bookmark" style="color: #a6a3a3;font-size: 15px"></i>
                </div>
                <a th:href="@{'/lessons/pdf/{id}' (id=${lesson.getId()})}" class="text-center" th:text="${lesson.getName()}"></a>
            </div>
        </div>

        <div  class="lessons-side-bar-card mx-auto mt-5 mb-2 py-2" style="color: black">
            <div class="d-flex align-items-center">
                <div class="w-25 pl-3">
                    <i class="fa-regular fa-plus" style="color: black;font-size: 15px"></i>
                </div>
                <a th:href="@{'/lessons/add-form?coursesId='+ ${course.getId()}}" class="text-center"  style="color: black"><b>Add new lessons</b></a>
            </div>
        </div>
    </div>
    <main class="w-100">
        <div class="upper-main">
            <img class="background-img" th:src="@{${course.getImage()}}">
            <div class="course-details">
                <h1 th:text="${course.getName()}"></h1>
                <p th:text=" 'Teacher: ' + ${course.getTeacher()}"></p>
                <p th:text=" 'Total time: ' + ${course.getTime()} + 'h'"></p>
            </div>
            <img class="course-img" th:src="@{${course.getImage()}}">
        </div>
        <div class="lower-main">
            <div class="course-desc">
                <h2>Course description:</h2>
                <span th:text="${course.getDescription()}"></span>
            </div>
            <form th:action="@{'/all_courses/{courseId}/enroll' (courseId=${course.getId()})}" th:method="POST">
                <button class="enroll-btn" th:text="${isUserEnrolled ? 'Already Enrolled' : 'Enroll'}"
                        th:disabled="${isUserEnrolled}">Enroll
                </button>
            </form>
        </div>

    </main>
</div>
</body>
</html>