<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>My Courses</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/styles/all_courses.css}">
</head>
<body>
<div class="content">
<header>
    <h1>My Courses</h1>
    <div class="right-header">
        <span th:text ="'Hello, ' +  ${#authentication.getPrincipal().getUsername()}"></span>
        <div class="search-input">
            <form th:action="@{/all_courses}" method="get">
                <input type="search" name="query" placeholder="Search..." th:value="${query}">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>
        <a class="new-course-btn" href="/logout">
            <i class="fa-solid fa-right-from-bracket" title="Logout"></i>
        </a>
    </div>
</header>
<div class="sidebar">
    <a th:href="@{'/home'}"><img th:src="@{/images/home_images/logo.png}" alt="logo" class="logo"></a>
    <br>
    <a th:href="@{'/all_courses'}"><i class="fa-brands fa-dashcube" style="color: #ffffff;"></i></a>
    <br><br>
    <a class="sidebar-btn"><i class="fa-solid fa-graduation-cap active-btn" style="color: #ffffff;"></i></a>
    <a th:href="@{'/favourite_list'}" class="sidebar-btn"><i class="fa-regular fa-lightbulb" style="color: #ffffff;"></i></a>
    <a class="sidebar-btn"><i class="fa-regular fa-message" style="color: #ffffff;"></i></a>
    <br><br>
    <div class="user-profile">
        <a class="sidebar-btn"><i class="fa-regular fa-pen-to-square" style="color: #fcfcfc;"></i></a>
        <a th:href="@{'/logout'}" class="sidebar-btn"><i class="fa-solid fa-circle-user" style="color: #bb6bd9;"></i></a>
    </div>
</div>
<main>
    <div class="card-container">
        <div th:each="enrollment : ${enrollments}" class="card">
            <img th:src="@{${enrollment.course.getImage()}}"/>
            <div class="course-details">
                <div class="upper-course-details">
                    <span th:text="${enrollment.course.getName()}" class="course-name"></span>
                    <form  th:action="@{'/favourite_list/{id}' (id=${enrollment.course.id})}"
                           th:method="POST">
                        <button class="favorites-btn"><i class="fa-regular fa-heart"></i></button>
                    </form>
                </div>
                <div class="lower-course-details">
                    <div class="lower-left-cd">
                        <i class="fa-solid fa-user"></i>
                        <span th:text="${enrollment.course.getTeacher()}" class="course-author"></span>
                    </div>
                    <div class="lower-right-cd">
                        <span th:text="${enrollment.course.getCategory().getName()}" class="course-lessons"></span>
                        <span>•</span>
                        <span th:text="${enrollment.course.getTime()} + 'h'" class="course-quizzes"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</body>
</html>