<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>WELCOME PAGE</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header>
    <img src="../images/home_images/logo.png" alt="logo">
    <div>
        <button class="login-btn">Log in</button>
        <button class="register-btn">Register</button>
    </div>
</header>
<div class="background"></div>
<main>
    <div class="phrase"> Free Online <br> Courses For <br> <span class="word">Everyone</span></div>
    <br>
    <button class="btn">Start learning now</button>
    <div class="image-container">
        <img src="../images/home_images/cap.png">
        <img src="../images/home_images/clock.png">
        <img src="../images/home_images/people.png">
    </div>
    <div class="text-container">
        <span> 10+ <br> courses </span> <br>
        <span> 250+ <br> hours of <br> content </span> <br>
        <span> 500+ <br> enrolled <br> students </span>
    </div>
</main>
<footer>
    <div class="social-media-icons">
        <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
        <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
        <a href="https://github.com/teofilovatea/BrainBoost" target="_blank"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
    </div>
    &copy; 2023 <span class="word">Brain</span>Boost. All Rights Reserved
</footer>
</body>
</html>