<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/login.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          href=
                  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

<!--<th:block xmlns:th="http://www.thymeleaf.org">-->
<!--    <section class="">-->
<div class="h-100 login-container pb-0">
    <img src="../images/login_images/logo.png" class="small_logo"></img>
    <div class="d-flex justify-content-center pb-0 ">
        <div class="col-6  d-flex justify-content-center">
            <img class="ml-5 login_img" src="../images/login_images/login_images.png">

        </div>
        <div class="col-md-6 col-lg-6 d-flex mt-3 justify-content-center">
            <div class="card-body text-black">

                <form action="/login" method="post">

                    <div class="d-flex align-items-center justify-content-center">

                        <h3 class="display-4 text-center">Log in</h3>

                    </div>
                    <div class="input-icons">
                        <div class="form-outline w-45 mx-auto mb-5">

<!--                            <div th:if={hasError} class="text-danger w-100 text-center" th:text="${param.error}">invalid password or username!</div>-->
<!--                            <div th:if="${hasSuccessful}" th:text="${successful}" class="text-success bg-secondary"></div>-->


                            <img src="../images/login_images/username_icon.png" class="icon">
                            <input class="input-field " name="username" placeholder="Your name" type="text">
                            <img src="../images/login_images/login_username_write_icon.png" class="second-icon">
                        </div>

                        <div class="form-outline w-45 mx-auto mb-4">

                            <img src="../images/login_images/login_password_lock_icon.png" class="icon">
                            <input class="input-field"  name="password" placeholder="Password" type="password">
                            <img src="../images/login_images/login_password_see_icon.png" class="second-icon">
                        </div>
                        <div class="w-45 pl-1 d-flex align-items-center mx-auto">
                            <input type="checkbox" class=" remember_checkbox mr-3">
                            <div class="mr-auto">Remember me</div>
                            <a class=" text-dark" href="#!">Forgot password?</a>
                        </div>

                    </div>


                    <div class="pt-5 w-50  d-flex justify-content-center mx-auto mb-3">
                        <button class="  button_blue_color text-white login_button" type="submit">Log in</button>
                    </div>
                    <div class="d-flex container w-45 justify-content-center pt-4 pl-5 align-items-center">
                        <div class=" mr-4"><b>Don't have an account?</b></div>
                        <a href="/register" > <button class="px-4 button_blue_color text-white py-0 sign_button" type="submit">Sign up</button></a>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--    </section>-->
<!--</th:block>-->


</body>
</html>