<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrainBoost</title>
    <link rel="stylesheet" href="../styles/Register.css">


</head>
<body>
    <div class="register_page">

        <div class="images">
        <img id="img1" src="../images/Register_images/letter-b-svgrepo-com (5) 1.png" height="214" width="205"/>
        <img id="img2" src="../images/Register_images/image 6.png" height="770" width="860"/>
        <img id="img3" src="../images/Register_images/image 7.png" height="95" width="95"/>
         </div>
        <div class="Sign_up">
            <section>
                <img src="../images/Register_images/Line 129.png" height="7" width="104"/>

                <p><strong>Sign up</strong></p>

                <img id="desno" src="../images/Register_images/Line 129.png" height="7" width="104"/>
            </section>
        </div>

    <div class="Information">

        <section class="Username">
            <article class="Frame1">
                <input type="text" placeholder="Username">

            </article>


            <img class="edit_light" src="../images/Register_images/Edit_light.png" height="30" width="39"/>
            <img src="../images/Register_images/Line 125.png" height="1" width="323"/>

            <img class="vector" src="../images/Register_images/Vector.png" height="37" width="37"/>
        </section>

        <section class="Email">
            <article class="Frame1">
                <input type="text" placeholder="Email">
            </article>

            <img class="edit_light" src="../images/Register_images/Edit_light.png" height="30" width="39"/>
            <img src="../images/Register_images/Line 125.png" height="1" width="323"/>

            <img class="mail" src="../images/Register_images/Rectangle 1.png" height="21" width="32"/>
        </section>

        <section class="Password">
            <article class="Frame1">
                <input type="text" placeholder="Password">
            </article>


            <img class="view" src="../images/Register_images/View.png" height="39" width="39"/>
            <img src="../images/Register_images/Line 125.png" height="1" width="323"/>

            <img class="closed" src="../images/Register_images/Group 9.png" height="30" width="30"/>
        </section>

        <section class="CPassword">
            <article class="Frame1">
                <input type="text" placeholder="Confirm Password">
            </article>

            <img class="view" src="../images/Register_images/View.png" height="39" width="39"/>
            <img src="../images/Register_images/Line 125.png" height="1" width="323"/>

            <img class="opened" src="../images/Register_images/Group 8.png" height="36" width="34"/>
        </section>

    </div>

        <section class="Agreement">

            <input type="checkbox">I agree with the <strong>Terms and Conditions </strong>and the <strong>Privacy police</strong>
        </section>

        <button id="createaccbtn" type="button">Create account</button>
        <button id="loginbtn" type="button">Log in</button>
    </div>
</body>
</html>