.title:hover{
 color: grey;
    border-bottom: solid 3px blue;
    text-decoration: none;
}
.title{
    color: gray;
}

.p1{
    font-size: 14px;
}
.p{
    font-size: 15px;
}

.p{
    color: gray;
}
.p{color: gray;
}

.p{
    color: gray;
}
.heart{
    color: black;
}