@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap');

* {
    --sidebar-color: #1C1B1F;
    --grey-color: #49494b;
    --primary-blue: #3394e8;
    --body-color: #e3e3e3;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-color);
}

.content{
    display: grid;
    grid-template-columns: 150px 1fr;
    min-width: 100vw;
    min-height: 100vh;
}

.sidebar {
    position: relative;
    background-color: var(--sidebar-color);
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    min-height: 100vh;
}

main {
    grid-column: 2/-1;
}

.logo {
    height: 50px;
    margin-top: 20px;
}

.sidebar-btn {
    width: 55px;
    height: 55px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    background: none;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.active-btn:hover,.sidebar-btn:hover, .header-btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.active-btn {
    background-color: var(--primary-blue);
    border-radius: 10px;
    width: 55px;
    height: 55px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

i {
    display: block;
    font-size: 1.3rem;
    color: #ffffff;
    transition: ease-in-out;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min-content;
    box-sizing: border-box;
    cursor: pointer;
    gap: 1rem;
    position: absolute;
    bottom: 10px;
}

.fa-pen-to-square {
    padding-top: 45px;
}

.fa-circle-user {
    font-size: 2rem;
}

.upper-main {
    width: 100%;
    height: 60vh;
    position: relative;
}

.background-img {
    object-fit: cover;
    object-position: center;
    filter: brightness(40%);
    z-index: -1;
    opacity: 90%;
    width: 100%;
    height: 100%;
    position: absolute;
}


.course-details {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 25%;
    width: 25%;
    height: 50%;
    background-color: rgba(51, 148, 232, 0.7);
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-details > h1 {
    margin-bottom: 2rem;
}

.course-img {
    width: 25%;
    height: 70%;
    position: absolute;
    right: 15%;
    top: 15%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.8);
}

.lower-main {
    display: flex;
    position: relative;
}

.course-desc {
    width: 500px;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 20%;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.course-desc > h2 {
    margin-bottom: 1rem;
}

.enroll-btn {
    width: 120px;
    height: 50px;
    font-size: 1.0rem;
    font-weight: bold;
    border: none;
    background-color: var(--primary-blue);
    border-radius: 5px;
    color: var(--body-color);
    transition: all 300ms ease-in-out;
    box-shadow:  2px 2px 10px 0 rgba(0, 0, 0, 0.8);
    position: absolute;
    right: 20%;
    top: 50%;
}

.enroll-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.lessons-side-bar{
    height: 200vh;
    background: rgba(0, 28, 39, 0.09);
}
.lessons-side-bar-card{
    background-color: white;
    width: 90%;
    box-shadow:  2px 2px 10px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.lessons-side-bar-card active{
    background-color: dodgerblue;
    color: white;

}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.delete-btn {
    border: none;
    background: none;
}

.delete-btn > i {
    font-size: 1.0rem;
    display: inline;
}

.edit{
    color: var(--grey-color);
    font-size: 1.0rem;
    display: inline;
    border: none;
    background: none;
}